<div class="container">
  <div class="title">{{ title }}</div>
  <div class="progress-bar">
    <div class="percentage">{{ percentage | percent }}</div>
    <div class="graph">
      <div
        class="fill-area"
        [ngClass]="graphClass"
        [style.width]="percentage * 100 + '%'"
      ></div>
    </div>
  </div>
  <div class="controls">
    <button class="stylish-button" (keyup)="reset()">Remettre à zéro</button>
    <button class="stylish-button" (keyup)="add(5)">Ajouter 5%</button>
    <button class="stylish-button" (keyup)="remove()">Supprimer</button>
  </div>
</div>
