<div class="container">
  <div class="title">{{ title }}</div>
  <div class="progress-bar">
    <div class="percentage">{{ percentage | percent }}</div>
    <div class="graph">
      <div
        class="fill-area"
        [ngClass]="graphClass"
        [style.width]="percentage * 100 + '%'"
      ></div>
    </div>
  </div>
  <div class="controls">
    <div class="stylish-button" (click)="reset()">Remettre à zéro</div>
    <div class="stylish-button" (click)="add(5)">Ajouter 5%</div>
    <div class="stylish-button" (click)="remove()">Supprimer</div>
  </div>
</div>
