<div class="page">
  <h4 class="title">
    Test technique WEB-ATRIO réalisé par {{ candidate.name }}
    {{ candidate.lastName }}<br />
    réalisé le {{ testDate | date : "dd/MM/YYYY" }}
  </h4>

  <div class="content">
    <div class="progress-bars">
      <app-progress-bar
        *ngFor="let progress of progressData; let i = index"
        [title]="progress.title"
        [percentage]="progress.percentage"
        (percentageChanged)="onProgressBarChange($event, i)"
        (barDeleted)="deleteProgressBar(i)"
      ></app-progress-bar>
    </div>
    <div class="controls">
      <button class="stylish-button" (keyup)="resetControls()">
        Remettre à zéro les compteurs
      </button>
      <button class="stylish-button" (keyup)="addToControls(5)">
        Ajouter 5%
      </button>
      <button class="stylish-button" (keyup)="addToControls(10)">
        Ajouter 10%
      </button>
    </div>
    <div class="controls">
      <button class="stylish-button" (keyup)="addNewBar()">
        Ajouter nouvelle progress-bar
      </button>
      <div class="input-field">
        <label>
          Nom
          <!-- For the sake of God let's not abuse of dual binding in ngModel.
            Used only to finish the task in the meant time -->
          <input type="text" [(ngModel)]="newBarConfig.title" />
        </label>
      </div>
      <div class="input-field">
        <label>
          Progress %
          <input
            type="number"
            min="0"
            max="100"
            [(ngModel)]="newBarConfig.percentage"
        /></label>
      </div>
    </div>
  </div>
</div>
