@use "./variables";

body {
  margin: 0;
  background: #242424;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.stylish-button {
  font-size: 14px;
  box-shadow: variables.$cool-shadow;
  padding: 12px;
  background-color: #373737;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 12px;
  user-select: none;
  transition: all 0.3s;
  &:active {
    box-shadow: none;
    background-color: #303030;
  }
}
